body{
background-color: #FFF89A;
  }

  hr {
    border-color: #FFB2A6;
    border-style:dotted none none none;
    width: 5%;
    border-width:5px;
  }

  h1{
    color: #66BFBF;
  }

  h3{
    color: #66BFBF;
  }
